*{
    width: 99%;
}
.header{
    display: flex;
}
.header_name{
    font-size: 32px;
    text-shadow: black;
    margin-left: 70px;
}
.btn{
    margin-top: 6.5%;
    margin-right: 6%;
    /* text-align: center; */
}